@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  color: #FEF0E3;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  letter-spacing: -1px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B8FA5, #5B8FA5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B8FA5, #5B8FA5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.brand {
  text-align: center;
  font-size: 5.4em;
  transform: skew(-2deg, -4deg);
  background-color: #f24153;
  width: 50%;
  height: 130%;
  margin: 0 auto;
}

.brand:after {
  content: "Bagels";
  display: block;
  font-weight:800;
  text-align: center;
  line-height: 0.4;
  margin-left: 0.2em;
  letter-spacing: 8px;
  font-size: 0.95em;
}

